/* common */
body{
    color: orange;
    font-size: 100px;
    font-family: 'Nanum Gothic', sans-serif

}

/* fonts */
.material-symbols-outlined {
  font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
  font-size: 150px;

}