/* COMMON */
/* 폰트 사이즈 폰트 패밀리 기본 속성 */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    /* 배수값으로 하는게 정신건강에 좋다 */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    height: 1200px;
  }

.inner{
  position: relative;
  width: 1100px;
  height: 100px;
  margin: 0 auto;


}

.strong{
  font-weight: 900;
  font-size: 18px;
}


.btn {
  display: inline-block;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 5px;

}



.btn--reverse {
  background-color: #00704a;
  border-color: #00704a;
  color: white;


}

.btn--reverse:hover {
  text-decoration: underline;

}

a{  text-decoration: none;}


.btn--white{
  border-color: white;
  color: white;
}


.btn--white:hover{
  text-decoration: underline;
}
  
.btn--light_green{
  border-color: #00704a;
  color: #00704a;
  transition:0.4s;
}

.btn--light_green:hover{
  color: white;
  background-color: #00704a;
  text-decoration: underline;

}

  
  /* HEADER */
  header {
    background-color: #f6f5ef;
    border-bottom: 1px solid rgba(104, 104, 104, 0.485);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  header>.inner {
    /* background-color: orange; */
    /* 중앙정렬 */
    margin: 0 auto;

  }
  
  header .inner .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75px;
    left: 0;
  }
  
  header .inner .logo img {
    display: block;
  }
  header .inner .sub_menu {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  header .inner .sub_menu .menu {
    display: flex;
  }
  
  header .inner .sub_menu .menu li {
  }
  /* 가상요소 선택자 */
  header .inner .sub_menu .menu li:not(:last-child)::after {
    content: "ㅣ";
    font-size: 12px;
    color: #c8c8c8;
  }
  header .inner .sub_menu .menu li a {
    padding: 10px 15px;
    font-size: 12px;
    color: #656565;
    text-decoration: none;
  }
  
  header .inner .sub_menu .menu li a:hover {
    text-decoration: underline;
  }
  header .inner .search {
    position: relative;
  }
  
  header .inner .search input {
    width: 40px;
    height: 34px;
    /* width 만 트랜지션 주겠다 */
    transition: width 0.4s;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  header .inner .search input:focus {
    width: 180px;
    /* 아웃라인 색깔 변경 */
    outline-color: green;
  }
  
  header .inner .search span {
    position: absolute;
  
    font-size: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
  }






    /* main menu */

header .inner .main_menu{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto 0;
    


}



header .inner .main_menu .item:hover{

    Background-color: #2c2a29;
    Color: #669900;
    cursor: pointer;
    text-decoration: underline;


}


header .inner .main_menu .item .item_name{
    Padding: 10px 20px 23px 20px;
    Font-size: 13px;
  
   
}

header .inner .main_menu .item .item_contents{
    position: fixed;
    width: 100%;
    left: 0;
    display: none;
  
}


header .inner .main_menu .item:hover .item_contents{
    display: block;

}

header .inner .main_menu .item .item_contents .item_contents_menu{
    background-color: #2c2a29;
    height: 400px;
    width: 100%;
    left: 0;
}

header .inner .main_menu .item .item_contents .item_contents_additional{
    background-color: #100f0e;
    height: 100px;
    width: 100%;
    left: 0;
}

 /* coffee */


header .main_menu .item .item_contents_menu {
  
}

header .main_menu .item .item_contents_menu .inner {

  display: flex;
  flex-wrap: wrap;

}

header .main_menu .item .item_contents_menu .inner>li {
  width: 200px;
  padding: 15px;
  padding-left: 5px;


}

header .main_menu .item .item_contents_menu .inner>li>a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;

}


header .main_menu .item .item_contents_menu .inner>li>a:hover {
  text-decoration: underline;
}

header .main_menu .item .item_contents_menu .inner>li>ul {

}

header .main_menu .item .item_contents_menu .inner>li>ul>li {
  font-size: 12px;
  color: #999;
  padding-bottom:5px ;

}

header .main_menu .item .item_contents_menu .inner>li>ul>li:hover {
  text-decoration: underline;

}

header .inner .main_menu .item .item_contents .item_contents_additional {
  padding: 20px 0;
  background-image: url("/star-bucks/images/main_menu_pattern.jpg");
  background-repeat: repeat;
 
}

header .inner .main_menu .item .item_contents .item_contents_additional .inner>a{
  font-size: 12px;
  color: #999;
  text-decoration: none;
  margin-top: 5px;
  display: block;

}

header .inner .main_menu .item .item_contents .item_contents_additional .inner>a:hover{
  font-size: 12px;
  color: #999;
  text-decoration: underline;

}

header .inner .main_menu .item .item_contents .item_contents_additional .inner>p{
  font-size: 12px;
  color: #669900;

}



/* badges */

header .badges{
  position: absolute;
  top: 120px;
  right: 40px;
}

/* header .badges .badge{}

header .badges .badge>a{}

header .badges .badge>img{} */



/* visual */

.visual {
  background-image: url("/star-bucks/images/visual_bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-top: 100px;
}

.visual .inner {
  position: relative;
  height: 646px;
}

.visual .inner .slogan {
  position: absolute;
  top: 88px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .slogan>img {}

.visual .inner .slogan .btn {
  position: block;
  display: flex;
  border: 2px solid #1c3831;

  text-align: center;
  
  

}

.visual .inner .slogan .btn:hover {
  background-color: #2e4500;
  transition: 0.6s;
  color: white;
  transition: 0.6s;
  text-decoration: underline;
    

}


.visual .inner .slogan>.btn {
  position: absolute;
  left: 0px;

}


.visual .inner .itemitem_1 {
  position: absolute;
  left: 650px;
  top: 80px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .itemitem_2 {
  position: absolute;
  left: 20px;
  top: 200px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .itemitem_3 {
  position: absolute;
  left: 880px;
  top: 240px;
  opacity: 0;
  transition: 0.4s;
}


.visual .inner:hover .itemitem_1 {
  opacity: 1;
  transition-delay: 0.4s;

}

.visual .inner:hover .itemitem_2 {
  opacity: 1;
  transition-delay: 0.8s;

}

.visual .inner:hover .itemitem_3 {
  opacity: 1;
  transition-delay: 1.2s;

}


.visual .inner .slogan {
  opacity: 1;
}



.visual .inner .slogan .btn {
  opacity: 1;
  transition-delay: 1.6s;
}



/* NOTICE */


.notice{}

.notice .notice_line{
    position: relative;
}

.notice .notice_line .bg_left{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: #111111;
}

.notice .notice_line .bg_right{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: #f6f5ef;
}

.notice .notice_line .inner{
    height: 62px;
    display: flex;
}

.notice .notice_line .inner .inner__left{
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
    color: white;
}

.notice .notice_line .inner .inner__left h1{
    font-weight: bold;
    position: absolute;
    left: 0;
    
}

.notice .notice_line .inner .inner__left .swiper_container{
    position: absolute;
    left: 80px;
    flex-grow: 1;
    font-size: 14px;

}

.notice .notice_line .inner .inner__left a{
    position: absolute;
    right: 20px;
    color: white;
}

.notice .notice_line .inner .inner__left a span{
    font-size: 36px;

}

.notice .notice_line .inner .inner__right{
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.notice .notice_line .inner .inner__right h1{
  position: absolute;
  right: 120px;
  font-weight: bold;
}


.notice .notice_line .inner .inner__right a{
  position: absolute;
  right: 20px;
  color: black;
}

.notice .notice_line .inner .inner__right a span{
  font-size: 36px;
  vertical-align: bottom;
}



/* REWARDS */

.rewards{
  background-color: #1e3932;
  width: 100%;
  height: 210px;
}

.rewards .inner{
  padding: 30px 0 40px 0;
  display: flex;
  gap: 20px;

}

.rewards .inner>a{}

.rewards .inner>a>img{
  width: 175px;
  display: block;

}

.rewards .inner .rewards__items{
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register{
  position: relative;
  padding-bottom: 0 0 20px 0;
  box-shadow: 0 0.5px #c8c8c8;
}

.rewards .inner .rewards__items .rewards__items__register p{
  display: block;
  font-size: 15px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__register .subject{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 800;
}

.rewards .inner .rewards__items .rewards__items__register .buttons{
  position: absolute;
  right: 0;
  bottom: 12px;

}

.rewards .inner .rewards__items .rewards__items__card{
  position: relative;
  padding-top: 0px;
  top: 25px;
}

.rewards .inner .rewards__items .rewards__items__card p{
  font-size: 15px;
  color: white;
  
}

.rewards .inner .rewards__items .rewards__items__card .buttons{
  position: absolute;
  right: 0;
  bottom: 0;

}

/* PERU */

.peru{
  position: relative;
  overflow: hidden;
  background-image: url("/star-bucks/images/peru_bg.jpg");
  height: 570px;

}

.peru::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url("/star-bucks/images/peru_bg_left.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:450px;
  height: 450px;

}

.peru::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url("/star-bucks/images/peru_bg_right.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:400px;
  height: 400px;

}

.peru .inner{
  height: 500px;
}

.peru .inner .img_product{
  display: block;
  position: absolute;
  width: 310px;
  top: 90px;
  left: 300px;
  transform: translate(-500px, 0);
  transition: 2s;
  opacity: 0;
}

.peru .inner:active .img_product{
  transform: translate(0px, 0);
  opacity: 1;
}

.peru .inner .peru__contents{
  position: absolute;
  width: 310px;
  top: 160px;
  right: 200px;
  transform: translate(500px, 0);
  transition: 2s;
  opacity: 0;



}

.peru .inner:active .peru__contents{
  transform: translate(0px, 0);
  opacity: 1;
}

.peru .inner .peru__contents>img{
  width: 420px;
}

.peru .inner .peru__contents .btn{
 display: block;
 width: 130px;
 margin-top: 40px;
}

/* INDONESIA */

.indonesia{
  background-image: url("/star-bucks/images/indonesia_bg.jpg");
  height: 400px;
  position: relative;
  overflow: hidden;
  right: 0;

}

.indonesia::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url("/star-bucks/images/indonesia_bg_right.png");
  width: 373px ; 
  height:277px ;

}


.indonesia::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url("/star-bucks/images/indonesia_bg_left.png");
  width: 373px ; 
  height:277px ; 
  Left: -100px;

  

}

.indonesia .inner{
  
}

.indonesia .inner .indonesia__title{
  position: absolute;
  Width: 563px;
  top: 100px;



}

.indonesia .inner .indonesia__img{
  position: absolute;
  left: -350px;
}

.indonesia .inner .btn--gold{
  position:absolute;
  color: rgb(92, 75, 0);
  top: 265px;
  left: 300px;

}

.indonesia .inner .btn.btn--gold:hover{
  text-decoration: underline;
  background-color: rgb(92, 75, 0);
  border-color: rgb(92, 75, 0);
  color: white;
  transform: 0.4s;

}



/* FAVORITE */

.favorite{
  background-image: url("/star-bucks/images/fav_bg.jpg");
  height: 800px;
  position: relative;
  overflow: hidden;
  right: 0;
  background-attachment: fixed;
  

}

.favorite .inner{
  height: 800px;
}

.favorite .inner .img{
  
}

.favorite .inner .favorite__title_1{
  position: absolute;
  left: 90px;
  top: 150px;
  transform: translate(-600px, 0);
  transition: 2s;
}

.favorite .inner .favorite__title_2{
  position: absolute;
  left: -20px;
  top: 400px;
  transform: translate(-600px, 0);
  transition: 2.5s;

}

.favorite .inner:hover .favorite__title_1,
.favorite .inner:hover .favorite__title_2 {
  transform: translate(0px, 0);
  opacity: 1;
}

.favorite .inner .favorite__img{
  position: absolute;
  display: block;
  left: 500px;
  top: 160px;
}

.favorite .inner a{
  position: absolute;
  display: block;
  left: 210px;
  top: 600px;
  opacity: 0;
}

.favorite .inner:hover a{
  transition: 0.5s;
  opacity: 1;
}


.favorite .inner a:hover{
  text-decoration: underline;
  background-color: white;
  border-color: white;
  color: black;
 
}


/* MAGAZINE */

.magazine{
  background-image: url("/star-bucks/images/magazine_bg.png");
  height: 320px;
  position: relative;
  right: 0px;
  top: 50px;
  background-repeat: no-repeat;
  background-size: 1400px;
  display: block;
  background-size: cover;

}

.magazine .inner{}

.magazine .inner img{
}

.magazine .inner .magazine__title{
  position: absolute;
  display: block;
  right: 480px;
  top: 70px;
}

.magazine .inner .magazine__img{
  position: absolute;
  display: block;
  left: 680px;
  top: -50px;
  width: 330px;


}

.magazine .inner a{
  position: absolute;
  display: block;
  right: 650px;
  top: 200px;
  border: 2px solid #000;
  color: #000;

}

.magazine .inner a:hover{
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-decoration: underline;

}

/* FIND STORE */

.store{
  background-image: url("/star-bucks/images/store_bg.jpg");
  height: 400px;
  position: relative;
 left: 0;
  top: 50px;
  background-repeat: no-repeat;
  background-size: 1400px;
  display: block;
  background-size: cover;
  overflow: hidden;
}

.store .inner{
  height: 1200px;
}

.store .inner img{
  
  
}

.store .inner .store__title_1{
  position: absolute;
  left: 650px;
  top: 90px;
  transform: translate(600px, 0);
  transition: 2.5s;
  opacity: 0;
}

.store .inner .store__title_2{
  position: absolute;
  left: 650px;
  top: 160px;
  transform: translate(600px, 0);
  transition: 2s;
  opacity: 0;
}



.store .inner:hover .store__title_1{
  transform: translate(0, 0);
  opacity: 1;

}

.store .inner:hover .store__title_2{
  transform: translate(0, 0);
  opacity: 1;

}

.store .inner .store__img_3{
  position: absolute;
  left: 450px;
  bottom: 20px;
}

.store .inner .store__img_4{
  position: absolute;
  display: block;
  top: 300px;
  left: 950px;
}

.store .inner .store__img_2{
  position: absolute;
  display: block;
  top: 0px;
  left: 70px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner:hover .store__img_2{
  opacity: 1;
  
}

.store .inner .store__img_1{
  position: absolute;
  display: block;
  top: 140px;
  right: 550px;
  opacity: 0;
  transition: 2.5s;
}

.store .inner:hover .store__img_1{
  opacity: 1;
}

.store .inner a{
  transform: translate(600px, 0);
  transition: 2.5s;
  opacity: 0;
  position: absolute;
  display: block;
  right: 325px;
  top: 250px;
  border: 2px solid #000;
  color: #000;
}


.store .inner:hover a{
  transform: translate(0, 0);
  opacity: 1;

}

.store .inner a:active{
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-decoration: underline;
}

/* footer_background */

.footer_background{
  position:relative;
  background-color: rgb(49, 49, 49);
  width: 1519px;
  height: 650px;
  top: 50px;
 

}

ul{list-style: none;}

.footer_background li{
 color:white;
 font-size: 12px;
 line-height: 20px;
 cursor: pointer;}

 .footer_background .company{
  position:absolute;
  height: 50px;
  top: 40px;
  left: 180px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.footer_background .company a{
  
  font-size: 15px;
  color: white;
}




.footer_background .CORPORATESALES{
  position:absolute;
  height: 50px;
  top: 40px;
  left: 400px;
}

.footer_background .CORPORATESALES a{
  font-size: 15px;
  color: white;
}

.footer_background .PARTNERSHIP{
  position:absolute;
  height: 50px;
  top: 40px;
  left: 620px;
}

.footer_background .PARTNERSHIP a{
  font-size: 15px;
  color: white;
}


.footer_background .ONLINECOMMUNITY{
  position:absolute;
  height: 50px;
  top: 40px;
  left: 830px;
}

.footer_background .ONLINECOMMUNITY a{
  font-size: 15px;
  color: white;
}


.footer_background .RECRUIT{
  position:absolute;
  height: 50px;
  top: 40px;
  left: 1080px;
}

.footer_background .RECRUIT a{
  font-size: 15px;
  color: white;
}

.footer_background .black{
  position: relative;
  background-color: rgb(41, 39, 39);
  height: 100px;
  top: 280px;
  align-items: center;
  line-height: 15px;
  margin-left: 0 auto;
  }

.black > div{
      float: left;
      position: absolute;
      padding-left: 200px;
      padding-top: 25px;
      size: 15px;

  }



.footer_background .company_1 li{
  position: relative;
  display: inline-block;
  padding-left: 15px;
  text-align: center;
  cursor: pointer;
  top: 300px;
  left: 200px;
}


.company_1 li:nth-child(1){
  color: green;
  font-weight:bolder;
  
}

.border > div{
  position: relative;
  border: 2px solid;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  width: 115px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  left: 580px;
  top: 320px;
  text-align: center;
    
}

.border > div:hover{
  text-decoration: underline;

}

.footer_background .footer__right{
  position: absolute;
  top: 50px;
  right: 250px;
}
