/* COMMON */
/* 폰트 사이즈 폰트 패밀리 기본 속성 */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    /* 배수값으로 하는게 정신건강에 좋다 */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
  }

.inner{
  position: relative;
  width: 1100px;
  height: 100px;
  margin: 0 auto;


}
  
  /* HEADER */
  header {
    background-color: #f6f5ef;
    border-bottom: 1px solid rgba(104, 104, 104, 0.485);
  }
  
  header>.inner {
    /* background-color: orange; */
    /* 중앙정렬 */
    margin: 0 auto;

  }
  
  header .inner .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75px;
    left: 0;
  }
  
  header .inner .logo img {
    display: block;
  }
  header .inner .sub_menu {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  header .inner .sub_menu .menu {
    display: flex;
  }
  
  header .inner .sub_menu .menu li {
  }
  /* 가상요소 선택자 */
  header .inner .sub_menu .menu li:not(:last-child)::after {
    content: "ㅣ";
    font-size: 12px;
    color: #c8c8c8;
  }
  header .inner .sub_menu .menu li a {
    padding: 10px 15px;
    font-size: 12px;
    color: #656565;
    text-decoration: none;
  }
  
  header .inner .sub_menu .menu li a:hover {
    text-decoration: underline;
  }
  header .inner .search {
    position: relative;
  }
  
  header .inner .search input {
    width: 40px;
    height: 34px;
    /* width 만 트랜지션 주겠다 */
    transition: width 0.4s;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  header .inner .search input:focus {
    width: 180px;
    /* 아웃라인 색깔 변경 */
    outline-color: green;
  }
  
  header .inner .search span {
    position: absolute;
  
    font-size: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
  }






    /* main menu */

header .inner .main_menu{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto 0;
    


}

.main_menu li{
    

}

header .inner .main_menu .item{
  

   
  }

header .inner .main_menu .item:hover{

    Background-color: #2c2a29;
    Color: #669900;
    cursor: pointer;
    text-decoration: underline;


}


header .inner .main_menu .item .item_name{
    Padding: 10px 20px 23px 20px;
    Font-size: 13px;
  
   
}

header .inner .main_menu .item .item_contents{
    position: fixed;
    width: 100%;
    left: 0;
    display: none;
  
}


header .inner .main_menu .item:hover .item_contents{
    display: block;

}

header .inner .main_menu .item .item_contents .item_contents_menu{
    background-color: #2c2a29;
    height: 400px;
    width: 100%;
    left: 0;
}

header .inner .main_menu .item .item_contents .item_contents_additional{
    background-color: #669900;
    height: 100px;
    width: 100%;
    left: 0;
}

 /* coffee */


header .main_menu .item .item_contents_menu {
  
}

header .main_menu .item .item_contents_menu .inner {

  display: flex;
  flex-wrap: wrap;

}

header .main_menu .item .item_contents_menu .inner>li {
  width: 200px;
  padding: 15px;
  padding-left: 5px;


}

header .main_menu .item .item_contents_menu .inner>li>a {
  display: block;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  font-size: 15px;

}

header .main_menu .item .item_contents_menu .inner>li>ul {

}

header .main_menu .item .item_contents_menu .inner>li>ul>li {
  font-size: 12px;
  color: rgb(182, 182, 182);
  padding-bottom:5px ;



}


