
.material-symbols-outlined {
    display: flex;
    position: absolute;
    left: 60px;
    top: 2px;
    bottom: 0px;
    margin: auto;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
